{% extends "layout.html" %}

{% block title %} Programado {%endblock%}

{% block extra_scripts %}
<script>

$(function() {
    cargar_tabla_ocupacion_estatica({{ano}},{{mes}},{{dia}})
});

function cargar_tabla_ocupacion_estatica(ano,mes,dia) {
    console.log("Vamos a cargar los datos vía ajax del dia "+dia+" "+mes+" "+ano);
    $( "#div_tabla_ocupacion" ).empty();
    //FIXME algun tipo de loading
    $.ajax({
        url: "/ocupacion/servicio/"+ano+"/"+mes+"/"+dia+"/1",
        cache: false

        })
        .done(function( data ) {
        $( "#div_tabla_ocupacion" ).append( data );
        });
};

function cambiar_semana(dateString) {
    var d = new Date(dateString);
    ano = d.getFullYear();
    mes = d.getMonth()+1; //devuelve los meses empezando en 0 !
    dia = d.getDate();
    console.log("Vamos a cambiar de semana a "+ano+" "+mes+" "+dia+" que era el string "+dateString);
    cargar_tabla_ocupacion_estatica(ano,mes,dia);
}

</script>
{% endblock %}

{% block content %}

    <!-- Page heading -->
<div class="page-head">
<h2 class="pull-left">Programado</h2>

        <!-- Muestra el Datapicker -->
        <i class="fa fa-calendar pull-right"></i><input class="pull-right" type="text" id="weekpicker" required="required" name="newsdate" />
        <!--
           <div id="reportrange" class="pull-right">
              <i class="fa fa-calendar"></i>
              <span></span> <b class="caret"></b>
           </div>
           -->

<div class="clearfix"></div>

</div><!-- Fin Page heading -->


<!-- Matter -->

<div class="matter">
<div class="container">


<!-- Table -->

<div class="row">

<div class="col-md-12">

<div class="widget" id="div_tabla_ocupacion">



</div><!-- Fin widget -->

</div><!-- Fin col-md-12 -->
</div><!-- Fin row -->

{% endblock %}
