{% extends "layout.html" %}

{% block title %} Programado {%endblock%}

{% block extra_scripts %}
<script>

$(function() {
    cargar_tabla_ocupacion_estatica(2014,01,01)
});

function cargar_tabla_ocupacion_estatica(ano,mes,dia) {
    console.log("Vamos a cargar los datos vía ajax");
    $( "#div_tabla_ocupacion" ).empty();
    //FIXME algun tipo de loading
    $.ajax({
        url: "/ocupacion/servicio/"+ano+"/"+mes+"/"+dia+"/1",
        cache: false
        
        })
        .done(function( data ) {
        $( "#div_tabla_ocupacion" ).append( data );
        });
};
</script>
{% endblock %}

{% block content %}

    Welcome to your new Silex Application!
    
    <!-- Page heading -->
<div class="page-head">
<h2 class="pull-left">Programado</h2>

		<!-- Muestra el Datapicker -->
           <div id="reportrange" class="pull-right">
              <i class="fa fa-calendar"></i>
              <span></span> <b class="caret"></b>
           </div>

<div class="clearfix"></div>

</div><!-- Fin Page heading -->


<!-- Matter -->

<div class="matter">
<div class="container">

<!-- Table -->

<div class="row">

<div class="col-md-12">

<div class="widget" id="div_tabla_ocupacion">

<div class="widget-head">
<div class="pull-left">Semana: 07/04/2014 - 13/04/2014</div>

<div class="clearfix"></div>
</div>

<ul id="myTab" class="nav nav-tabs">
<li class="active"><a href="#lunes" data-toggle="tab">Lunes</a></li>
<li><a href="#martes" data-toggle="tab">Martes</a></li>
<li><a href="#miercoles" data-toggle="tab">Miércoles</a></li>
<li><a href="#jueves" data-toggle="tab">Jueves</a></li>
<li><a href="#viernes" data-toggle="tab">Viernes</a></li>
<li><a href="#sabado" data-toggle="tab">Sábado</a></li>
<li><a href="#domingo" data-toggle="tab">Domingo</a></li>
</ul>
<div id="myTabContent" class="tab-content" style="margin-top:-6px">
<div class="tab-pane fade in active" id="lunes">

<div class="widget-content">
<table class="table table-striped table-bordered table-hover">
<tr>
<th>&nbsp;</th>
<th class="center">Acha</th>
<th class="center">Alb</th>
<th class="center">Arru</th>
<th class="center">Cres</th>
<th class="center">Lek</th>
<th class="center">Llar</th>
<th class="center">Loz</th>
<th class="center">Marn</th>
<th class="center">Mor</th>
<th class="center">Olan</th>
<th class="center">Olav</th>
<th class="center">Pad</th>
<th class="center">Peña</th>
<th class="center">Zab</th>
<th class="center">Leyr</th>
<th class="center">Osc</th>
<th class="center">Fran</th>
<th class="center">Mora</th>
<th class="center">Moha</th>
<th class="center">Seve</th>
<th class="center">Rosa</th>
<th class="center">Ane</th>
<th class="center">Bea</th>
</tr>
<tr>
<th>Planta izq.</th>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>Planta der.</th>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>Hoja cons.</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
</tr>
<tr>
<th>Consulta 4</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>Consulta 6</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>Consulta 7</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>Consulta 9</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>Quirof. 3U</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>Quirof. 3G</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>Quirof. 5º</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>Quirof. Urg.</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>AMB. ORT.</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>AMB. LA</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>AMB. SJD</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>AMB. DEU</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>AMB. DrA</th>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>AMB. ...</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>GUAR. PF</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>GUAR. LOC</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>GUAR. TRA.</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>
<tr>
<th>GUAR. BM</th>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center"><button class="btn btn-xa btn-default"><i class="fa fa-check"></i></button></td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
</tr>

</table>

</div>
</div>

<div class="tab-pane fade" id="martes">
<p style="padding:20px">Tablas del martes</p>
</div>
<div class="tab-pane fade" id="miercoles">
<p style="padding:20px">Tablas del miércoles</p>
</div>
<div class="tab-pane fade" id="jueves">
<p style="padding:20px">Tablas del jueves</p>
</div>
<div class="tab-pane fade" id="viernes">
<p style="padding:20px">Tablas del viernes</p>
</div>
<div class="tab-pane fade" id="sabado">
<p style="padding:20px">Tablas del sábado</p>
</div>
<div class="tab-pane fade" id="domingo">
<p style="padding:20px">Tablas del domingo</p>
</div>
</div>


</div><!-- Fin widget -->
</div><!-- Fin col-md-12 -->
</div><!-- Fin row -->

{% endblock %}
