
<div class="widget-content">



<table class="table table-striped table-bordered table-hover">
<tr>
<th>&nbsp;</th>
{% for usuario in lista_usuarios %}
<th class="center">{{ usuario.username }}</th>
{%  endfor %}
</tr>

{% for dia in lista_ocupaciones %}

<tr>
    <th class="center" {% if dia.festivo == 1 %} style="color:#ff0000; background:#f3e4e4;" {%endif%} >{{dia.dia_mes}}</th>
    {% for ocupacion in dia.ocupaciones %}
    <td class="center" {% if dia.festivo == 1 %} style="background:#f3e4e4;" {%endif%}>
        <input id="check_{{dia.dia_mes}}_{{ocupacion.user_id}}" type="checkbox" name="" value="" 
        {% if ocupacion.activo == 1 %} checked {% endif %}
        {% if dia.festivo == 1 %} disabled {% endif %}
        onchange="cambio_check_ocupaciones.call(this, '{{ocupacion.dia}}', '{{ocupacion.user_id}}' );"/>
        
    </td>
    {%  endfor %}
</tr>
{%  endfor %}
</table>

</div>
</div>

