<ul id="myTab" class="nav nav-tabs">
{% for dia in semana %}
    <li>
        <a href="#" onclick="cargar_tabla_ocupacion_estatica({{dia.format('Y')}},{{dia.format('m')}},{{dia.format('d')}});" data-toggle="tab">
            {{dia}}({{dia.format('Ymd')}})
        </a>
    </li>
{% endfor %}
</ul>
<div id="myTabContent" class="tab-content" style="margin-top:-6px">
<div class="tab-pane fade in active" id="lunes">

<div class="widget-content">

<table class="table table-striped table-bordered table-hover">
<tr>
<th>{{ano}}/{{mes}}/{{dia}}&nbsp;</th>
{% for usuario in lista_usuarios %}
<th class="center">{{ usuario.username}}</th>
{% endfor %}
</tr>
{% for servicio in lista_servicios %}
<tr>
<th>{{servicio.nombre_corto}}</th>
{% for usuario in lista_usuarios %}
<td class="center">
    {% if lista_ocupacion[servicio.nombre_corto][usuario.username].activo == 1 %} <button class="btn btn-xa btn-default">
        <i class="fa fa-check"></i>
    {% endif%}
</button>
</td>
{% endfor %}
</tr>
{% endfor %}
<tr>
 
</table>
