{% extends "layout.html" %}

{% block title %} Programado {%endblock%}

{% block extra_scripts %}
<script>
$(function() {
    cargar_tabla_ocupacion({{ano}},{{mes}},{{dia}})
});

function cargar_tabla_ocupacion(ano,mes,dia) {
    console.log("Vamos a cargar los datos vía ajax del dia "+dia+" "+mes+" "+ano);
    $( "#div_tabla_ocupacion" ).empty();
    //FIXME algun tipo de loading
    $.ajax({
        url: "/ocupacion/servicio/"+ano+"/"+mes+"/"+dia,
        cache: false
        
        })
        .done(function( data ) {
        $( "#div_tabla_ocupacion" ).append( data );
        });
};

//funcion que hace la peticion de cambiar un día festivo
function cambiar_ocupacion(user_id, servicio_id, dia, activo) {
    if (activo == 1) {
        url_peticion = "/ocupacion/servicio/add/"+user_id+"/"+servicio_id+"/"+dia+"/";
    } else {
        url_peticion = "/ocupacion/servicio/del/"+user_id+"/"+servicio_id+"/"+dia+"/";
    }
    $.ajax({
        url: url_peticion,
        cache: false
        
        })
        .done(function( data ) {
            alert(data.mensaje);
        }
    );
}
//funcion que maneja el cambio del estado de un check
function cambio_check_ocupacion(user_id, servicio_id, dia) {
    console.log("vamos a cambiar el día  "+dia+" la ocupacion del usuario "+user_id+" al servicio "+servicio_id );
    //FIXME este if funciona al reves???
    if (this.checked) {
        console.log("Añadimos ocupacion");
        cambiar_ocupacion(user_id, servicio_id, dia, 1);
    } else {
        console.log("Quitamos ocupacion");
        cambiar_ocupacion(user_id, servicio_id, dia, 0);
    }
    
}

</script>
{% endblock %}



{% block content %}

<!-- Page heading -->
<div class="page-head">
<h2 class="pull-left">Programación servicio</h2>


		<!-- Muestra el Datapicker -->
           <div id="reportrange" class="pull-right">
              <i class="fa fa-calendar"></i>
              <span></span> <b class="caret"></b>
           </div>



<div class="clearfix"></div>

</div><!-- Fin Page heading -->


<!-- Matter -->

<div class="matter">
<div class="container">

<!-- Table -->

<div class="row">

<div class="col-md-12">

<div class="widget" id="div_tabla_ocupacion">


</div><!-- Fin widget -->
</div><!-- Fin col-md-12 -->
</div><!-- Fin row -->

</div><!-- Fin container -->
</div><!-- Fin Matter -->
</div>

{%endblock%}
