{% extends "layout.html" %}

{% block title %} Usuarios {%endblock%}

{% block content %}

<!-- Page heading -->
<div class="page-head">
<h2 class="pull-left">Sevicios</h2>

<div class="clearfix"></div>

</div><!-- Fin Page heading -->


<!-- Matter -->

<div class="matter">
<div class="container">

<!-- Table -->

<div class="row">

<div class="col-md-12">

<div class="widget">

<div class="widget-head">
<div class="pull-left">Listado de servicios <a href="{{ url('servicios-alta')}}"><button class="btn btn-xs btn-default"><i class="fa fa-plus-circle"></i> </button></a></div>
<div class="clearfix"></div>
</div>

<div class="widget-content">

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
        <th>Servicio</th><th>Nombre corto</th><th>Tipo de servicio</th><th>Estado</th><th>Orden</th><th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for servicio in lista_servicios %}
        <tr>
            <td>{{servicio.nombre}}</td>
            <td>{{servicio.nombre_corto}}</td>
            <td>{{ servicio.tipo }} </td>
            <td>
                {% if servicio.estado == 1 %} <button class="btn btn-primary btn-xs">Activo</button>
                {% else %} <button class="btn btn-danger btn-xs">Inactivo</button>
                {% endif %}
            </td>
            <td>{{ servicio.orden }} </td>
            <td>
                <a href="{{ url('servicios-editar',{'id': servicio.id})}}">
                    <button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> </button>
                </a>
                <a href="#">
                    <button class="btn btn-xs btn-danger"><i class="fa fa-times-circle"></i> </button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div><!-- Fin widget-content -->
</div><!-- Fin widget -->
</div><!-- Fin col-md-12 -->
</div><!-- Fin row -->


<div class="row">

<div class="col-md-12">

<div class="widget">

<div class="widget-head">
<div class="pull-left">Listado de Tipos de Servicios <a href="{{ url('servicios-tipo-alta')}}"><button class="btn btn-xs btn-default"><i class="fa fa-plus-circle"></i> </button></a></div>
<div class="clearfix"></div>
</div>

<div class="widget-content">

<table class="table table-striped table-bordered table-hover">
<thead>
<tr>
<th>Id</th><th>Nombre</th><th>Acciones</th>
</tr>
</thead>
<tbody>

    <!-- lista de usuarios -->

{% for tipo_servicio in lista_tipos_servicios %}

<tr>
<td>{{tipo_servicio.id}}</td><td>{{tipo_servicio.nombre}}</td><td><a href="{{ url('servicios-tipo-editar',{'id': tipo_servicio.id})}}"><button class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> </button></a> <a href="#"><button class="btn btn-xs btn-danger"><i class="fa fa-times-circle"></i> </button></a></td>
</tr>

{% endfor %}
</tbody>
</table>

</div><!-- Fin widget-content -->
</div><!-- Fin widget -->
</div><!-- Fin col-md-12 -->
</div><!-- Fin row -->



</div><!-- Fin container -->
</div><!-- Fin Matter -->

{%endblock%}
