<div class="alert">
{{ form_errors(form) }}
</div>

{{ form_widget(form._token) }}

<div class="form-group">
<label for="inputDate" class="col-lg-4 control-label">Nombre del servicio</label>
<div class="col-lg-8">
{{ form_widget(form.nombre,{'attr': {'class': 'form-control'}}) }}
</div>
</div>

<div class="form-group">
<label for="inputDate" class="col-lg-4 control-label">Nombre corto</label>
<div class="col-lg-8">
{{ form_widget(form.nombre_corto,{'attr': {'class': 'form-control'}}) }}
</div>
</div>

<div class="form-group">
<label for="inputDate" class="col-lg-4 control-label">Tipo de servicio</label>
<div class="col-lg-8">
{{ form_widget(form.tipo,{'attr': {'class': 'form-control'}}) }}
</div>
</div>

<div class="form-group">
<label for="inputDate" class="col-lg-4 control-label">Estado del servicio</label>
<div class="col-lg-8">
{{ form_widget(form.estado,{'attr': {'class': 'form-control'}}) }}
</div>
</div>
<div class="form-group">
<label for="inputDate" class="col-lg-4 control-label">Orden del servicio</label>
<div class="col-lg-8">
{{ form_widget(form.orden,{'attr': {'class': 'form-control'}}) }}
</div>
</div>

<!-- Buttons -->
<div class="form-group">
 <!-- Buttons -->
<div class="col-lg-offset-4 col-lg-9">
<button type="submit" class="btn btn-primary">Guardar</button>
</div>
</div>
