{% extends "layout.html" %}

{% block title %} Vacaciones {%endblock%}

{% block extra_scripts %}
<script>
$(function() {
    cargar_tabla_vacaciones_mes(1)
});

function cargar_tabla_vacaciones_mes(mes) {
    console.log("Vamos a cargar los datos vía ajax de /ocupacion/otros/1/{{ano}}/"+mes+"/html/ ");
    $( "#div_tabla_vacaciones" ).empty();
    //FIXME algun tipo de loading
    $.ajax({
        url: "/ocupacion/otros/1/{{ano}}/"+mes+"/",
        cache: false
        
        })
        .done(function( data ) {
        $( "#div_tabla_vacaciones" ).append( data );
        });
};

//funcion que hace la peticion de cambiar un día festivo
function cambiar_festivo(dia, user_id,activo) {
    if (activo == 1) {
        url_peticion = "/ocupacion/otros/add/1/"+user_id+"/"+dia+"/";
    } else {
        url_peticion = "/ocupacion/otros/del/1/"+user_id+"/"+dia+"/";
    }
    $.ajax({
        url: url_peticion,
        cache: false
        
        })
        .done(function( data ) {
            alert(data.mensaje);
        }
    );
}
//funcion que maneja el cambio del estado de un check
function cambio_check_ocupaciones(dia, user_id) {
    console.log("vamos a cambiar el día de vacaciones "+dia+" del usuario "+user_id );
    //FIXME este if funciona al reves???
    if (this.checked) {
        console.log("Añadimos un día festivo");
        cambiar_festivo(dia, user_id,1);
    } else {
        console.log("Quitamos un día festivo");
        cambiar_festivo(dia, user_id,0);
    }
    
}

</script>
{% endblock %}



{% block content %}

<!-- Page heading -->
<div class="page-head">
<h2 class="pull-left">Vacaciones del año {{ ano }}</h2>


		<!-- Muestra el Datapicker -->
           <div id="reportrange" class="pull-right">
              <i class="fa fa-calendar"></i>
              <span></span> <b class="caret"></b>
           </div>



<div class="clearfix"></div>

</div><!-- Fin Page heading -->


<!-- Matter -->

<div class="matter">
<div class="container">

<!-- Table -->

<div class="row">

<div class="col-md-12">

<div class="widget">

<div class="widget-head">
<div class="pull-left">Año: 2014</div>

<div class="clearfix"></div>
</div>

<ul id="myTab" class="nav nav-tabs">
<li class="active"><a href="#enero" data-toggle="tab" onclick="cargar_tabla_vacaciones_mes(1)" >Enero</a></li>
<li><a href="#febrero" onclick="cargar_tabla_vacaciones_mes(2)" data-toggle="tab">Febrero</a></li>
<li><a href="#marzo" onclick="cargar_tabla_vacaciones_mes(3)" data-toggle="tab">Marzo</a></li>
<li><a href="#abril" onclick="cargar_tabla_vacaciones_mes(4)" data-toggle="tab">Abril</a></li>
<li><a href="#mayo" onclick="cargar_tabla_vacaciones_mes(5)" data-toggle="tab">Mayo</a></li>
<li><a href="#junio" onclick="cargar_tabla_vacaciones_mes(6)" data-toggle="tab">Junio</a></li>
<li><a href="#julio" onclick="cargar_tabla_vacaciones_mes(7)" data-toggle="tab">Julio</a></li>
<li><a href="#agosto" onclick="cargar_tabla_vacaciones_mes(8)" data-toggle="tab">Agosto</a></li>
<li><a href="#septiembre" onclick="cargar_tabla_vacaciones_mes(9)" data-toggle="tab">Septiembre</a></li>
<li><a href="#octubre" onclick="cargar_tabla_vacaciones_mes(10)" data-toggle="tab">Octubre</a></li>
<li><a href="#noviembre" onclick="cargar_tabla_vacaciones_mes(11)" data-toggle="tab">Noviembre</a></li>
<li><a href="#diciembre" onclick="cargar_tabla_vacaciones_mes(12)" data-toggle="tab">Diciembre</a></li>
</ul>

<div class="widget-content" id="div_tabla_vacaciones">


</div>


<div class="widget-foot">
<!-- Footer goes here -->
</div>

</div><!-- Fin widget -->
</div><!-- Fin col-md-12 -->
</div><!-- Fin row -->

</div><!-- Fin container -->
</div><!-- Fin Matter -->

{%endblock%}
